// Import variables
@import "variables";

// Import other SCSS files
@import "body";
@import "nav";
@import "card";
@import "dark-mode";

//selection & search
.inputFilter {
  margin-block: 3rem;
  display: flex;
  // display: inline-flexbox;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $filterPoint) {
    margin-block: 1.5rem;
    flex-direction: column;
    gap: 2em;
  }
}

//search
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 390px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 1px rgba(193, 193, 193, 0.377);
}

.input {
  width: 100%;
  min-width: 390px;
  height: 50px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: $white;
  color: $very-dark-blue;
  transition: 0.3s ease;

  @media (max-width: $breakpoint) {
    min-width: auto;
    height: 45px;
  }
}

.input::placeholder {
  color: $dark-gray;
}

.input:focus,
input:hover {
  outline: none;
  border-color: $dark-gray;
  background-color: $white;
  box-shadow: 0 0 0 4px $very-light-gray;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: $dark-gray;
  width: 1rem;
  height: 1rem;
}

//filter by region
.custom-dropdown {
  position: relative;
  width: 190px;

  .selected-option {
    padding: 12px 14px;
    border: 2px solid transparent;
    border-radius: 3px;
    outline: none;
    background-color: $white;
    box-shadow: 0 1px 5px 1px rgba(193, 193, 193, 0.377);
    cursor: pointer;
  }

  .options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 2px solid transparent;
    border-top: none;
    box-shadow: 0 1px 5px 1px rgba(193, 193, 193, 0.377);

    li {
      padding: 8px 14px;
      cursor: pointer;
      background-color: $white; /* Set background color to opaque white */
      &:hover {
        background-color: $very-light-gray;
      }
    }
  }
}

.fa-angle-down {
  position: absolute;
  top: 0;
  right: 0;
  translate: -17px 17px;
  pointer-events: none;
  color: $very-dark-blue;
}

//card info
.card_container {
  height: auto;
  margin-top: 5em;
  // margin-block: auto;
}

// .desc_box {
//   display: flex flex;
//   border: 2px solid red;
// }
.country_desciption {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // justify-content: center;
  // border: 2px solid red;
  margin-top: 4.5em;

  @media (max-width: 1028px) {
    grid-template-columns: 1fr;
  }
}

// card detail info
.country-info {
  display: flex;
  margin-top: 1.35rem;
  // gap: 6.5em;

  @media (max-width: 1028px) {
    flex-direction: column;
    gap: 2em;
  }
}

a {
  background: $white;
  text-decoration: none;
  color: $very-dark-blue;
  padding: 0.65rem 2.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

button {
  background: $white;
  // width: 50px;
  padding: 0.65rem 2.5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.description {
  margin-inline: auto;
  margin-block: auto;
  @media (max-width: 1028px) {
    margin-inline: 0em;
  }
}

.nation_name {
  font-size: 1.85rem;
  font-weight: $heavy-weight;
  // display: flex;
  // align-self: first baseline;
  @media (max-width: 1028px) {
    margin-top: 1.85em;
  }
}

.info_One,
.info_Two {
  width: min(100% - 1rem, 90em);
  // min-width: 300px;
  div {
    font-weight: $light-weight;
    font-size: 14px;
  }
}

strong {
  font-weight: $medium-weight;
  line-height: 1.75rem;
}

.description_IMG {
  width: 100%;
  height: auto;
  max-width: 700px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.country-border {
  margin-top: 4em;
  display: flex;
  @media (max-width: $filterPoint) {
    flex-direction: column;
    gap: 1.5em;
  }

  strong {
    margin-right: 1rem;
  }
  button {
    padding: 0.45rem 1.35rem;
    margin-right: 1em;
    width: auto;
    margin-bottom: 1rem;
  }
}
